{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}
{% block content %}

<div class="text-center my-5">
    <h3>Welocome to Todo app</h3>
    {% if msg %}
    <p>{{msg}}</p>
    {% endif %}
</div>
<form action="" method="POST">
    {% csrf_token %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.email}}</td>
                <td>{{i.address}}</td>
                <td>
                    <a href="{% url 'delete-todo' person_id=i.id %}"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>#</td>
                <td><input class="form-control form-control-sm" type="text" name="name"></td>
                <td><input class="form-control form-control-sm" type="number" name="age"></td>
                <td><input class="form-control form-control-sm" type="email" name="email"></td>
                <td><input class="form-control form-control-sm" type="text" name="address"></td>
                <td><input class="btn btn-sm btn-primary" type="submit" value="Save"></td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock content %}
{% block js %}

{% endblock js %}