{% extends "base.html" %}
{% load static %}
{% block title %} Forms {% endblock title %}
{% block css %}
{% endblock css %}
{% block content %}
<div class="my-5 text-center">
    <h4>Select form</h4>
    {% if msg %}
    <p>{{msg}}</p>
    {% endif %}
</div>
<div class="my-5">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <select class="form-control" name="gender" id="gender">
                <option value="" selected disabled>--</option>
                <option value="0">Male</option>
                <option value="1">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}
{% block js %}

{% endblock js %}